:host {
  --active: 0;
  --color: #FAC300;
  --icon-width: 60px;
  --img-width: 24px;
  --text-width: 90px;
  --padding: 2.5rem;
  --duration: 0.2s;

  .bar {
    width: calc(var(--icon-width) + var(--text-width));
    height: calc(100% - var(--padding));
    background-color: var(--color);
    position: absolute;
    top: calc(var(--padding) * 0.5);
    left: calc(var(--padding) * 0.5);
    border-radius: var(--icon-width);
    transform: translatex(calc(var(--icon-width) * var(--active)));
    transition: transform var(--duration) ease-in-out;
  }

  ul {
    list-style: none;
    background-color: white;
    margin: 0;
    padding: var(--padding) calc(var(--padding) / 2);
    position: relative;
    padding-right: calc(var(--text-width) + var(--padding) / 2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-auto-flow: column;
  }

  li {
    position: relative;

    > * {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 0;
    }

    .icon {
      z-index: 100;
      justify-content: center;
      width: var(--icon-width);
      cursor: pointer;
      text-align: center;
      opacity: 0.3;
      transition-property: opacity, transform;
      transition-duration: var(--duration);
      transition-timing-function: ease-in-out;

      img {
        width: var(--img-width);
        height: auto;
      }
    }

    .text {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: var(--text-width);
      margin-left: var(--icon-width);
      pointer-events: none;
      transition: opacity var(--duration) ease-in-out;
      font-size: 0.9rem;
      font-weight: bold;
    }

    &[data-active] {
      .text, .icon {
        opacity: 1
      }
    }
  }

  [data-active] ~ li .icon {
    transform: translatex(calc((var(--i) * 1px) + var(--text-width)));
  }
}
