<h1>Info Slider</h1>

<app-info-slider>
  <app-info-slider-element label="Menü A" icon="/assets/browser.svg">
    <h2>Menü A</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla blandit volutpat. Aenean non volutpat dui. Proin mattis vel dolor egestas rhoncus. Fusce non tempor tellus.</p>
    <p>Duis a libero dictum, efficitur tortor in, tincidunt nibh. Fusce eget sapien blandit, ultrices odio ut, ultricies erat. Duis libero odio, ultricies ac neque vel, tempus aliquet libero.</p>
  </app-info-slider-element>
  <app-info-slider-element label="Menü B" icon="/assets/mail.svg">
    <h2>Menü B</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla blandit volutpat. Aenean non volutpat dui. Proin mattis vel dolor egestas rhoncus. Fusce non tempor tellus.</p>
    <p>Duis a libero dictum, efficitur tortor in, tincidunt nibh. Fusce eget sapien blandit, ultrices odio ut, ultricies erat. Duis libero odio, ultricies ac neque vel, tempus aliquet libero.</p>
  </app-info-slider-element>
  <app-info-slider-element label="Menü C" icon="/assets/music-player.svg">
    <h2>Menü C</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla blandit volutpat. Aenean non volutpat dui. Proin mattis vel dolor egestas rhoncus. Fusce non tempor tellus.</p>
    <p>Duis a libero dictum, efficitur tortor in, tincidunt nibh. Fusce eget sapien blandit, ultrices odio ut, ultricies erat. Duis libero odio, ultricies ac neque vel, tempus aliquet libero.</p>
  </app-info-slider-element>
  <app-info-slider-element label="Menü D" icon="/assets/price-tag.svg">
    <h2>Menü D</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla blandit volutpat. Aenean non volutpat dui. Proin mattis vel dolor egestas rhoncus. Fusce non tempor tellus.</p>
    <p>Duis a libero dictum, efficitur tortor in, tincidunt nibh. Fusce eget sapien blandit, ultrices odio ut, ultricies erat. Duis libero odio, ultricies ac neque vel, tempus aliquet libero.</p>
  </app-info-slider-element>
</app-info-slider>
<br /><br /><br />
<small>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
<br /><br />
<small>Inspired by <a target="_blank" href="https://codepen.io/iremlopsum/pen/OVMxzp">a pen from CodePen</a></small>
